.hder {
		background-color: #3079ab;
		height:60px;
	   }

.hd {
		COLOR:white;
		FONT-FAMILY:CAMBRI;
		float:left;
		position:relative;
		left:200px;
		top:35px;
		font-size:200px;
	  }

#lgo {
		height:60px;
		width:60px;
		position:relative;
		left:-150px;
	 	}