.header {
		background-color:#3079ab;
		height:170px;
	   }

.head {
		COLOR:white;
		font-family: Arial, Helvetica, sans-serif;
		float:left;
		position:relative;
		left:178px;
		top:50px;
		font-size:50px;
	  }

#logo {
		height:110px;
		width:110px;
		top:30px;
		position:relative;
		left:-120px;
	 	}

....t1{
		background-color:#3079ab;
		height:550px;
		width:250px;
		position:relative;
		left:1083px;
		}

.T2 {
		background-color:#3079ab;
		height:50px;
		border:2px;
	   }

a{
		text-decoration:none; 

		}

....f1 {
		position:relative;
		left:50px;

		}
....#fb {
		height:50px;
		width:75px;
		position:relative;
		left:40px;
	 	}

.b {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    width:80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:relative;
	left:280px;
	top:-20px;
	 }
a:hover {
    	background-color:#3079ab;
    	text-decoration: underline;
    	color: black;
    	}